body {
	margin: 0;
	font-family: Arial, OpenSans, sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #2c2c2c;
	background-color: #f9f9f9;
}
body header div nav {
    display: block;
}
body.site {
    padding: 0px;
	background-color: #f9f9f9;
}
.container {
    max-width: 960px;
	width: 940px;
	min-height: 800 px;
	margin-right: auto;
    margin-left: auto;	
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding: 40px 60px;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.05);
}
.header {}
.brand {}

.pull_left {
	float: left:
}
.navigation {
    margin: 40px 0px;
}
.top_menu {
	font-size: 0; /* убираем горизонтальные отступы */
    line-height: 0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing: -1px; /* переубеждаем webkit'ы */
	-webkit-padding-start: 0px; 
	background: linear-gradient(#757575, #454444);
}
.line_menu  {
	font-size: 16px; /* Не забываем восстановить нормальные значения */
    line-height: normal;
    letter-spacing :normal;
    display: -moz-inline-stack!important;
    display :inline-block;
    //display :inline;
	padding: 0px;
}
a {
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
}
.top_menu > .line_menu > a:hover, .top_menu > .line_menu > a:active { /* как сохранить выделение активной сылки? a:active в данном исполнении не работает*/ 
	background: #424242;
	border-right: 1px groove #cccccc;
	border-left: 1px groove #cccccc;
	padding-left: 24px;
	padding-right: 69px;
} 
.top_menu > .line_menu > a {
	color: #ffffff;
}
.line_menu > a {
	display: block;
	padding-top: 15px;
    padding-bottom: 15px;
	padding-right: 70px;
    padding-left: 25px;
}
.line_menu > p{
	display: block;
	float: right;
	width: 70px;
}
.text, .nav {
	display: inline-block;
	vertical-align: top;
}
.aside_menu {
	list-style: none;
	-webkit-padding-start: 0px;
	border: 1px groove #c8c8c8;
	border-bottom: 0px;
	margin-top: 0;
}
.l_menu {
	border-bottom: 1px groove #c8c8c8;
	
}
.aside_menu > .l_menu > a {
	color: #656363;
	display: block;
    padding-top: 15px;
    padding-bottom: 15px;
	padding-left: 25px;
}
.aside_menu > .l_menu > a:hover, .aside_menu > .l_menu > a :active {
	background: #f9f9f9;
	color: #2c2c2c;
	padding-left: 45px;
}
 .nav {
	width: 30%;
	padding-right: 4.56%;
	float: left;
 }
 .text{
	width: 62.54%;
	padding-left: 2.45%; 
	float: right;
 }
footer {
	clear: both;
}
.image {
	border-right: 1px groove #cccccc;
	border-bottom: 1px groove #cccccc;
	padding: 7.5%;
	float: center;
	width: 500px;
}
/*.content {
	margin: 0 auto;
	width: 940px;
}*/
.footer_menu {
	font-size: 0; /* убираем горизонтальные отступы */
    line-height: 0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing: -1px; /* переубеждаем webkit'ы */
	-webkit-padding-start: 0px; 
	background: #e1e1e1;
	float: left;
	width: 783px;
}
.footer_menu > .line_menu > a:hover, .footer_menu > .line_menu > a:active { 
/* как сохранить выделение активной сылки? a:active в данном исполнении не работает*/
	text-decoration: underline;
	color: #2c2c2c;
}
.footer_menu > .line_menu > a {
	color: #2c2c2c;
	font-size: 14px;
}
.copy {
	color: #2c2c2c;
	font-size: 14px;
	background: #e1e1e1;
	padding-top: 15px;
    padding-bottom: 15px;
	padding-right: 20px;
    padding-left: 25px;
	margin-top: 0px;
}
.but {
	margin-bottom: 60px;
}
